
.headerHome {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  color: #fff;
  border-bottom: 1px solid #FBFBFB66;

  padding: 20px;
  z-index: 10;
}

.headerDefault {
  width: 100%;
  height: 90px;
  background: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.logo {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 24px;
  margin-left: 400px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.active {
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 12px;
}

.loginBtn {
  padding: 8px 20px;
  border-radius: 999px;
  border: 1px solid #d0d7ff;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.primaryBtn {
  background: #2068ff;
  color: #fff;
  border-color: #2068ff;
}
